.first-banner {
    width: 100%;
    /* Đặt chiều rộng của phần tử là 100% */
    height: 75vh;
    /* Đặt chiều cao của phần tử là 75% chiều cao của cửa sổ trình duyệt */
    background-image: url("./Img/banner.webp");
    /* Đặt hình nền là tệp banner.webp nằm trong thư mục Img */
    background-position: center center;
    /* Đặt vị trí của hình nền ở chính giữa theo cả hai chiều ngang và dọc */
    background-size: cover;
    /* Đặt kích thước của hình nền bao phủ toàn bộ phần tử */
    background-repeat: no-repeat;
    /* Đảm bảo hình nền không lặp lại */
    position: relative;

    /* Đặt vị trí của phần tử là tương đối */
    &__text {
        width: 50%;
        height: 30%;
        position: absolute;
        top: -10%;
        left: 3%;
        bottom: -15px;
        margin: auto;

        p {
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 25px;
            letter-spacing: 2px;
            color: #272727;
        }

        h1 {
            font-size: 58px;
            line-height: 1.1;
            color: #272727;
            font-weight: 700;
        }
    }
}

.second-banner {
    width: 100%;
    height: 70vh;
    background-image: url("./Img/shopnow_banner.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    &__text {
        position: absolute;
        width: 30%;
        height: 200px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
    }

    &__discount {
        color: #fff;
        font-size: 19px;
        font-weight: normal;
        letter-spacing: 1px;
    }

    &__title {
        color: #fff;
        font-size: 54px;
        letter-spacing: 1px;
        line-height: 1;
        padding: 15px 0;
    }

    &__button {
        margin: 15px 0;
        background: #ffd80a;
        border: none;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 15px;
        border-radius: 3px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}